/* Global */

:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-grey: #3d546f;
    --basic-greylight: #c5c5c5;
    --basic-greydark: #293449;
    --basic-background: #f1f5f7;
    --basic-black: #000000;
    --basic-white: #ffffff;
    --special-white: #f3f7f9;
    --special-black: #161d29;
    --special: #663d15;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-greenlight: #8ed78f;
    --special-yellowlight: #ffd180;
    --success: #5fbb2d;
    --warning: #ffbf47;
    --special-background: #32425C;
    --basic-error: #BA2732;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cuprum', sans-serif;
}

p {
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Header */

.header {
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
}

.header-menu {
    background: #293449;
    color: #ffffff;
}

.header-menu-container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-left: 220px;
}

.header-menu-link {
    color: var(--basic-white);
    display: inline-block;
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 17px;
    font-size: 18px;
}

.bookmark {
    padding-left: 37px;
}

.cart {
    padding-left: 54px;
}

.header-menu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.header-menu-link:hover::before {
    opacity: 1;
}

.header-button {
    cursor: pointer;
}

.logo-technomart {
    position: absolute;
    top: 0;
    left: 1px;
    padding: 0;
    width: 220px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-red);
    border-bottom: 5px solid #b52932;
    cursor: pointer;
}

.logo-technomart-img {
    width: 108px;
}

.logo-technomart:active {
    background: var(--basic-error);
    border-color: #8d1e26;
}

.search-container {
    width: 271px;
    height: 42px;
}

.search-form {
    height: 100%;
    width: 100%;
    position: relative;
}

.search-input {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    padding-left: 42px;
    font-size: 18px;
}

.search-svg {
    position: absolute;
    fill: var(--basic-white);
    opacity: 0.5;
    left: 16px;
    top: 12px;
}

.search-input:hover+.search-svg {
    opacity: 1;
}

.search-svg:hover {
    opacity: 1;
}

.search-input:focus {
    background: var(--basic-white);
    outline: none;
}

.search-input:focus+.search-svg {
    opacity: 1;
    fill: var(--basic-red);
}

.search-input:valid {
    background: var(--basic-white);
}

.search-input:valid+.search-svg {
    fill: var(--basic-red);
    opacity: 1;
}

.search-input::placeholder {
    color: var(--basic-white);
}

.bookmark::before {
    width: 14px;
    height: 16px;
    left: 16px;
    top: 13px;
    background-image: url("../img/svg/icon-bookmark.svg");
}

.cart::before {
    width: 15px;
    height: 15px;
    top: 13px;
    left: 31px;
    background-image: url("../img/svg/icon-cart.svg");
}

.create-order {
    margin-left: 5px;
    border: none;
    outline: none;
    padding: 11px 17px;
    font-size: 18px;
    font-family: 'Cuprum';
    background: var(--basic-green);
    color: var(--basic-white);
    cursor: pointer;
}

.contacts {
    width: 100%;
    max-width: 940px;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 44px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.shop-description {
    padding: 0;
    margin: 0;
    margin-left: 29px;
    width: 197px;
    color: var(--basic-red);
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    font-weight: normal;
    margin-top: -4px;
}

.contacts-info {
    width: 269px;
    margin-left: 96px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.telephone {
    display: block;
    position: relative;
    margin: 0;
    border: 3px solid #fff;
    width: 268px;
    font-size: 21px;
    line-height: 16px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 69px;
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--basic-red);
}

.telephone::before {
    content: "";
    background: url(../img/svg/icon-phone.svg) no-repeat top left;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 12px;
    left: 35px;
    display: block;
}

.address {
    font-family: 'Cuprum';
    font-style: normal;
    font-size: 14px;
}

.user-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--basic-black);
    background-color: var(--basic-background);
}

.authorized:active {
    color: var(--basic-greylight);
}

.user-block-login {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.authorized {
    margin: 0;
    padding: 0;
    padding: 12px 65px 14px 46px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #000;
    background-color: #fff;
}

.authorized-button,
.login-buttons {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--basic-white);
}

.authorized-button:hover .login-buttons {
    fill: var(--basic-grey);
}

.authorized-button:active .login-buttons {
    fill: var(--basic-greylight);
}

.user {
    width: 20px;
    height: 18px;
    fill: var(--basic-greylight)
}

.login-image {
    width: 20px;
    height: 17px;
    fill: var(--basic-greylight)
}

.logout {
    width: 20px;
    height: 17px;
    fill: var(--basic-greylight)
}

.information {
    display: flex;
    justify-content: space-between;
}

.my-orders {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.my-orders:active {
    color: var(--basic-greylight);
}

.my-orders:hover {
    color: var(--basic-red);
}

.cabinet {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.cabinet:active {
    color: var(--basic-greylight);
}

.cabinet:hover {
    color: var(--basic-red);
}

.login-section {
    width: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 67px;
}

.login {
    height: 45px;
    background: var(--basic-white);
    color: var(--basic-black);
    position: relative;
    padding-left: 46px;
    font-size: 21px;
    padding-right: 28px;
}

.login-image {
    width: 20px;
    height: 17px;
    fill: var(--basic-greylight);
    position: absolute;
    top: 14px;
    left: 20px;
}

.registration-link {
    color: var(--basic-black);
    display: block;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    font-size: 21px;
    background: var(--basic-white);
}

.navigation {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    background-color: var(--special-background);
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 26px;
    padding-right: 20px;
    border-bottom: 5px solid var(--basic-greydark);
}

.navigation-link {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    display: block;
    padding: 16px 29px 15px 28px;
}

.navigation-link:hover {
    background-color: var(--basic-greydark)
}

.bread-crumbs {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    padding-top: 23px;
    margin-bottom: 20px;
}

.bread-crumbs-item {
    position: relative;
    text-transform: uppercase;
    margin-right: 43px;
}

.bread-crumbs-item-home {
    margin-right: 42px;
}

.bread-crumbs-item::after {
    content: "";
    position: absolute;
    right: -26px;
    width: 8px;
    height: 12px;
    background: url("../img/svg/icon-right-small.svg") no-repeat top left;
}

.bread-crumbs-item:last-child::after {
    display: none;
}

.bread-crumbs-link {
    text-transform: uppercase;
    color: var(--basic-black);
    font-size: 15px;
}

.bread-crumbs-link-home {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.bread-crumbs-link-home::before {
    content: "";
    width: 15px;
    height: 12px;
    display: block;
    background: url("../img/svg/icon-home.svg") no-repeat top left;
}


/**********************Main************************/

.promo-block {
    margin-bottom: 60px;
    margin-top: 59px;
}

.promo-block-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.slider-block {
    grid-column: 1/3;
    grid-row: 2/4;
}

.product-sections {
    position: relative;
    min-width: 300px;
    min-height: 123px;
    color: var(--basic-white)
}

.product-sections::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: top left;
}

.product-sections-text {
    background: 0 0;
    display: block;
    margin: 21px 0 0 23px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.product-sections-link {
    display: inline-block;
    min-width: 135px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 12px 0 0 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
}

.product-sections-link:hover {
    background-color: rgb(197, 197, 197, 0.5);
}

.product-sections-link:active {
    background-color: rgb(169, 169, 169, 0.5);
}

.promo-new {
    position: relative;
}

.promo-new::before {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 70px;
    height: 70px;
    background: url("../img/svg/promo-new.svg") no-repeat top left;
    display: block;
}

.product-materials {
    background: var(--warning);
}

.product-materials::after {
    top: 31px;
    right: 42px;
    width: 44px;
    height: 65px;
    background-image: url("../img/svg/icon-1.svg");
}

.product-tools {
    background: #3BBCE3;
}

.product-tools::after {
    top: 34px;
    right: 30px;
    width: 75px;
    height: 61px;
    background-image: url("../img/svg/icon-2.svg");
}

.product-equipment {
    background: #DC91D8;
}

.product-equipment::after {
    top: 31px;
    right: 30px;
    width: 78px;
    height: 62px;
    background-image: url("../img/svg/icon-3.svg");
}

.product-discounts {
    background: #8ED78F;
}

.product-discounts::after {
    top: 27px;
    right: 44px;
    width: 59px;
    height: 72px;
    background-image: url("../img/svg/icon-4.svg");
}

.product-delivery {
    background: #FFC047;
}

.product-delivery::after {
    top: 32px;
    right: 30px;
    width: 78px;
    height: 63px;
    background-image: url("../img/svg/icon-5.svg");
}


/***************Slider***************/

.slider {
    width: 620px;
    height: 266px;
    /*background-image: url(../img/Worker-with-a-drill.jpg);*/
    overflow: hidden;
    position: relative;
}

.slider-screen-list {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider-screen-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.slider-screen-first {
    background: brown url("../img/slider-1.jpg") no-repeat top left;
}

.slider-screen-second {
    background: brown url("../img/slider-2.jpg") no-repeat top left;
}

.slider-screen-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 21px 21px 17px 23px;
    margin-bottom: 97px;
}

.slider-screen-header {
    font-weight: bold;
    font-size: 36px;
    color: var(--basic-white);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.slider-screen-text {
    font-size: 18px;
    font-family: 'Cuprum';
    margin: 0;
    color: var(--basic-white);
}

.slider-screen-link {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 11px 46px;
    margin-left: 25px;
    background: red;
    color: var(--basic-white);
    text-transform: uppercase;
}

.slider-first-screen:checked~.slider-screen-list .slider-screen-first {
    display: block;
}

.slider-second-screen:checked~.slider-screen-list .slider-screen-second {
    display: block;
}

.slider-bullet-block {
    list-style: none;
    width: 30px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.slider-bullet-label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    box-sizing: content-box;
    cursor: pointer;
}

.slider-first-screen:checked~.slider-bullet-block .slider-bullet-first {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: red;
}

.slider-second-screen:checked~.slider-bullet-block .slider-bullet-second {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: red;
}

.flip {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: top left;
}

.flip-first {
    left: 26px;
    background-image: url(../img/svg/icon-left.svg);
    top: 143px;
}

.flip-second {
    right: 19px;
    background-image: url(../img/svg/icon-right.svg);
    top: 143px;
}


/****************************************************************/

.special-title {
    background-color: #f9f5f0;
    margin: 0;
    padding-right: 14px;
    padding-left: 28px;
    display: flex;
    justify-content: space-between;
}

.special-title-caption {
    padding: 0;
    margin: 0;
    margin-top: 29px;
    margin-bottom: 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #32425C;
}

.special-title-link {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 192px;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 27px;
    box-sizing: border-box;
    color: #ffffff;
    background: var(--basic-red);
    text-transform: uppercase;
}

.special-title-link-2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 192px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 26px;
    margin-right: 5px;
    box-sizing: border-box;
    color: #ffffff;
    background: var(--basic-red);
    text-transform: uppercase;
}

.special-title-link:active {
    background: var(--special-red);
}

.special-title-link:focus {
    outline: none;
    background: var(--special-red);
}

.popular-goods {
    margin-bottom: 49px;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 28px;
    width: calc(100% + 20px);
}

.card {
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    position: relative;
    margin-bottom: 19.5px;
    padding-bottom: 97px;
    text-align: center;
}

.card-img-container {
    height: 170px;
    margin-bottom: 8px;
}

.card-img-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    max-height: 100%;
    margin-right: 7px;
}

.card:hover .card-img-block {
    display: none;
}

.card-name {
    width: 176px;
    display: inline-block;
    text-align: center;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.card-button-container {
    display: none;
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 40px;
}

.card:hover {
    box-shadow: 3px 3px 2px 3px #888888;
}

.card:hover .card-button-container {
    display: block;
}

.card:hover .card-img {
    display: none;
}

.card-button {
    display: block;
    margin-bottom: 20px;
    height: 38px;
    width: 100%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.card-button-buy {
    background: var(--basic-green);
    color: #ffffff;
    border-bottom: 2px solid green;
}

.card-button-bookmark {
    background: var(--basic-white);
    color: blue;
    border: 2px solid var(--basic-green);
}

.card-old-price {
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration-line: line-through;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.card-new-price {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 9px 5px 9px 5px;
    background-color: var(--basic-red);
    margin: 0 auto;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    min-width: 122px;
    margin-left: -7px;
    font-weight: bold;
    font-size: 17px;
}

.card-new-price::before {
    content: "";
    position: absolute;
    top: 6px;
    right: -13px;
    width: 26px;
    height: 26px;
    background-color: var(--basic-red);
    transform: rotate(45deg);
}

.card-price-block {
    width: 100%;
    position: absolute;
    bottom: 18px;
    left: 0;
    text-align: center;
}

.popular-manufacturers {
    margin-bottom: 50px;
}

.popular-manufacturers-title {
    margin-bottom: 20px;
}

.popular-manufacturers-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.special-title-partner {
    margin-bottom: 20px;
}

.card-partner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 145px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.card-partner:hover {
    box-shadow: 8px 7px 30px -11px rgba(0, 0, 0, 0.9);
}

.card-partner:active {
    opacity: 0.5;
}

.catalog-page {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 59px;
}

.catalog-page-item {
    margin-right: 10px;
}

.catalog-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    color: var(--basic-black);
}

.active-page {
    color: var(--basic-white);
    background: var(--basic-red);
}

.catalog-page-link:hover {
    border-color: var(--basic-greylight);
}

.catalog-page-link:active {
    border-color: var(--basic-red);
}


/****************Сервисы******************/

.services-news {
    background: #F1F5F7;
    padding-top: 65px;
    padding-bottom: 69px;
}

.services-news-header {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.services-news-text {
    font-size: 13px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.services {
    background: #F1F5F7;
    padding-top: 65px;
    padding-bottom: 46px;
}

.header-services {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.header-services-text {
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 71px 0px;
}

.services-article-block {
    display: flex;
    justify-content: space-between;
}

.services-list {
    min-width: 240px;
    padding: 0;
    margin: 0;
    margin-right: 80px;
    list-style: none;
    position: relative;
}

.services-list::after {
    content: "";
    position: absolute;
    top: -35px;
    right: 0px;
    width: 10px;
    height: 279px;
    background-image: url(../img/line.png);
}

.services-label {
    display: block;
    background: #32425C;
    color: var(--basic-white);
    font-size: 21px;
    padding-top: 13px;
    padding-left: 22px;
    padding-bottom: 18px;
    padding-right: 1px;
    cursor: pointer;
    font-family: Cuprum;
    font-weight: bold;
    line-height: 31px;
}

.services-articles {
    width: 100%;
}

.services-article {
    min-height: 237px;
    display: none;
}

.services-item {
    position: relative;
}

.services-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: url("../img/border.gif") repeat-x top left;
}

.services-item:last-child::after {
    display: none;
}

.services-article-delivery {
    background: url("../img/Layer-131-1.png") no-repeat top 18px right;
}

.services-article-guarantee {
    background: url("../img/Layer-130.png") no-repeat top right;
}

.services-article-credit {
    background: url("../img/Layer-119.png") no-repeat top right;
}

.services-input:checked+.services-article {
    display: block;
}

.services-article-title {
    padding: 0;
    margin: 0;
    width: 305px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: normal;
    font-family: Cuprum;
    line-height: 26px;
    text-transform: uppercase;
    color: #32425C;
}

.services-article-text {
    padding: 0;
    margin: 0;
    width: 305px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
}

.services-article-text-2 {
    width: 192px;
}

.delivery:checked~.services-articles .services-article-delivery {
    display: block;
}

.guarantee:checked~.services-articles .services-article-guarantee {
    display: block;
}

.credit:checked~.services-articles .services-article-credit {
    display: block;
}

.delivery:checked~.services-list .delivery-label {
    background: var(--basic-white);
    color: #32425C;
}

.guarantee:checked~.services-list .guarantee-label {
    background: var(--basic-white);
    color: #32425C;
}

.credit:checked~.services-list .credit-label {
    background: var(--basic-white);
    color: #32425C;
}


/****************О Нас********************/

.about-company-container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 70px;
    color: #000;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 70px;
}

.about-delivery {
    min-width: 470px;
    padding: 0;
    margin: 0;
}

.header-about-company {
    font-size: 29px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.about-company-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 25px 0;
}

.about-company-text-2 {
    margin: 0 0 10px 0;
}

.info {
    display: block;
    min-width: 300px;
    padding: 0;
    margin: 0;
}

.list-of-delivery-companies {
    margin: -4px 0 22px 36px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    list-style: none;
    padding: 0;
}

.list-of-delivery-companies-item {
    margin-bottom: 15px;
    position: relative;
}

.list-of-delivery-companies-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    top: 25px;
    left: -36px;
}

.write-us-button {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 21px;
    border: none;
    color: var(--basic-white);
    background: var(--basic-red);
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    width: 100%;
}

.write-us-button:active {
    outline: none;
}

.about-us-button {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    margin: 0;
    margin-top: 39px;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    box-sizing: border-box;
    color: #ffffff;
    background: var(--basic-red);
    text-transform: uppercase;
}

.map-button-active {
    display: block;
    margin-top: 32px;
}


/*Catalog*/

.catalog-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-filter-block {
    width: 300px;
}

.catalog-filter-block-title {
    padding: 11px 10px 12px 18px;
    background: #F7F3EC;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin: 0 0 15px 0px;
    text-transform: uppercase;
}

.range-block {
    background: #F7F3EC;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-bottom: 11px;
}

.range-line {
    width: 180px;
    height: 2px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    background: #D7DCDE;
    margin: 0 auto;
}

.range-indicator {
    width: 80%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background: green;
}

.range-handle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #ABABAB;
    border-radius: 50%;
    border: 8px solid #ffffff;
    margin-left: -5px;
    top: -10px;
    box-sizing: content-box;
    cursor: pointer;
}

.range-left-handle {
    left: 0;
}

.range-right-handle {
    left: 80%;
}

.range-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-input {
    width: 98px;
    height: 38px;
    background: #F7F3EC;
    border: none;
    text-align: center;
    font-size: 18px;
}

.catalog-goods {
    width: 100%;
    margin-left: 16px;
}

.catalog-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    background: #F2F6F8;
    color: #32425C;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 29px 0 29px 29px;
}

.sorting-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    margin-bottom: 27px;
    background: #f2f6f8;
}

.sorting-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 21px;
    margin-left: 150px;
    list-style: none;
}

.sorting-button {
    color: var(--basic-greylight);
    border: none;
    border-bottom: 1px dotted var(--basic-red);
    background: none;
}

.sorting-button:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

.sorting-button:focus {
    outline: none;
}

.sorting-button:active {
    outline: none;
    border-bottom: 1px solid transparent;
    color: var(--basic-red);
}

.up-down-button:hover .up-down {
    fill: var(--basic-black)
}

.up-down-button:active .up-down {
    fill: var(--basic-red);
}

.up-down {
    fill: #c5c5c5;
    width: 10px;
    height: 11px;
}

.sorting-title {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.filter-fieldset {
    border: none;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.filter-legend {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-item {
    margin-bottom: 10px;
}

.filter-label {
    position: relative;
    padding-left: 37px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-family: 'PT Sans';
}

.filter-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 19px;
    border: 2px solid #c5c5c5;
    border-radius: 3px;
    box-sizing: content-box;
}

.filter-input:checked+.filter-label::after {
    content: "";
    position: absolute;
    display: block;
    top: -3px;
    left: 7px;
    height: 13px;
    width: 18px;
    border-left: 3px solid #c5c5c5;
    border-bottom: 3px solid #c5c5c5;
    transform: rotate(-45deg);
}

.filter-label:hover::before {
    border-color: #b5b5b5;
}

.filter-input:checked+.filter-label:hover::after {
    border-color: #b5b5b5;
}


/*footer*/

.footer-main {
    display: block;
}

.footer-up-text {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-up {
    background: #32425C;
    color: #ffffff;
    padding-bottom: 53px;
}

.footer-up-container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-up-left {
    min-width: 360px;
}

.footer-up-address {
    color: #F3F7F9;
    font-style: normal;
    font-weight: normal;
}

.footer-up-right {
    min-width: 580px;
    padding-top: 38px;
}

.footer-navigation {
    display: block;
    margin-bottom: 34px;
}

.footer-navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: 34px;
}

.footer-navigation-otherness {
    display: block;
}

.footer-navigation-otherness-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: 54px;
}

.footer-navigation-link {
    color: #f1f5f7;
}

.footer-navigation-otherness-link {
    color: #ffd180;
}

.footer-down-text {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-down {
    min-height: 107px;
    background: #293449;
}

.footer-down-container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.copyright-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Cuprum;
}

.symbol-copy {
    font-size: 18px;
    margin-right: -1px;
}

.copyright-rights {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Cuprum;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 134px;
    margin-left: 74px;
}

.social-list-item {
    text-align: center;
    height: 44px;
    width: 44px;
}

.social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    background: #212A3A;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.social-list-link:hover {
    background-color: var(--basic-red);
}

.social-list-link::after {
    content: "";
    display: block;
}

.icon-vk::after {
    background: url("../img/svg/icon-vk.svg") no-repeat top left;
    width: 25px;
    height: 14px;
}

.icon-fb::after {
    background: url("../img/svg/icon-fb.svg") no-repeat top left;
    width: 12px;
    height: 22px;
}

.icon-insta::after {
    background: url("../img/svg/icon-insta.svg") no-repeat top left;
    width: 21px;
    height: 21px;
}

.communication-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 283px;
    margin-left: 34px;
    margin-right: 15px;
}

.communication-list-item {}

.communication-list-text {
    margin: 0;
    padding: 0;
    font-family: Cuprum;
}

.logo-technomart-footer {
    padding: 0;
    width: 220px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-red);
    border-bottom: 5px solid #b52932;
    cursor: pointer;
    margin-bottom: 25px;
}

.logo-technomart-footer {
    padding: 0;
    width: 220px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-red);
    border-bottom: 5px solid #b52932;
    cursor: pointer;
}

.logo-technomart-footer-img {
    width: 137px;
    margin-top: -1px;
}

.logo-technomart-footer:active {
    background: var(--basic-error);
    border-color: #8d1e26;
}


/****************Modal*****************/

.modal-buy {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 620px;
    min-height: 282px;
    border-top: 6px solid var(--basic-red);
    background: var(--basic-white);
    padding-top: 70px;
    text-align: center;
}

.modal-buy-show {
    display: block;
    animation: bounce 0.6s;
}

.close-btn {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 11px;
    top: 12px;
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn::before {
    content: '';
    position: absolute;
    top: 7px;
    right: -3px;
    transform: rotate(-45deg);
    width: 26px;
    height: 5px;
    background: var(--basic-red);
    border: none;
    cursor: pointer;
}

.close-btn::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -3px;
    transform: rotate(45deg);
    width: 26px;
    height: 5px;
    background: var(--basic-red);
    border: none;
    cursor: pointer;
}

.modal-buy-text {
    padding: 0;
    padding-left: 91px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 70px;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-left: -96px;
}

.modal-buy-text::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    top: -20px;
    left: -4px;
    background: var(--basic-green);
}

.modal-buy-text::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 20px;
    top: 0px;
    left: 13px;
    border-left: 7px solid #fff;
    border-bottom: 7px solid #fff;
    transform: rotate(-45deg);
}

.modal-buy-buttons {
    background: var(--basic-greylight);
    padding-top: 36px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-content: flex-start;
}

.modal-buy-button {
    display: block;
    padding: 10px 20px;
}

.button-create-order {
    background: var(--basic-red);
    color: var(--basic-white);
    padding: 12px 46px 10px 46px;
    margin-right: 12px;
    font-size: 14px;
    cursor: pointer;
}

.button-return {
    background: var(--basic-white);
    color: var(--basic-black);
    border: none;
    padding: 12px 32px 10px 32px;
    text-transform: uppercase;
    cursor: pointer;
}


/*******************Map*******************/

.modal-map {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 940px;
    height: 448px;
    border-top: 6px solid var(--basic-red);
}

.modal-map-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
    border: none;
}

.close-btn-map {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 10px;
    top: 10px;
    border: none;
    outline: 0;
    background: none;
    cursor: pointer;
    z-index: 3;
}

.close-btn-map:active {
    border: none;
    outline: none;
}

.close-btn-map::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(-45deg);
    width: 20px;
    height: 5px;
    background: #ee3643;
    border: none;
    cursor: pointer;
}

.close-btn-map::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    width: 20px;
    height: 5px;
    background: #ee3643;
    border: none;
    cursor: pointer;
}


/*******************Write-Us*******************/

.write-us {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 620px;
    min-height: 282px;
    border-top: 6px solid var(--basic-red);
    background: var(--basic-white);
    padding-top: 68px;
}

.write-us-show {
    display: block;
    animation: bounce 0.6s;
}

.write-us-buttons {
    background: var(--basic-greylight);
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.send-us-button {
    display: block;
    margin: 0 auto;
    width: 460px;
    padding: 10px;
    background: var(--basic-red);
    color: var(--basic-white);
    border: none;
}

.letter {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
    min-width: 460px;
    min-height: 114px;
}

.letter::placeholder {
    color: #000000;
}

.close-btn-write-us {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn-write-us::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(-45deg);
    width: 20px;
    height: 5px;
    background: #ee3643;
    border: none;
    cursor: pointer;
}

.close-btn-write-us::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    width: 20px;
    height: 5px;
    background: #ee3643;
    border: none;
    cursor: pointer;
}

.write-us-container {
    width: 460px;
    margin: 0 auto;
}

.write-us-name {
    display: flex;
    justify-content: space-between;
}

.write-us-input-block {
    width: 220px;
}

.write-us-label {
    display: block;
    font-size: 18px;
    font-family: 'Cuprum';
    margin-bottom: 10px;
    ;
}

.write-us-input {
    width: 220px;
    height: 38px;
}


/*******************************************/

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}